<div class="container">
    <div class="row">
        <h3 class="col-xs-7 col-xs-offset-2">マイページ</h3>
        <div class="col-xs-7 col-xs-offset-1">
            <h4>登録情報</h4>
            <%= link_to  "編集する",  end_users_edit_path , class:"btn btn-primary" %>
            <%= link_to  "パスワードを変更する", '#' , class:"btn btn-primary" %>
            <table class="table table-bordered rireki">
                <tr>
                    <th>氏名</th>
                    <td><%= current_end_user.last_name + "　" +current_end_user.first_name %></td>
                </tr>
                <tr>
                    <th>カナ</th>
                    <td><%= current_end_user.last_name_kana + "　" + current_end_user.first_name_kana %></td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td><%= current_end_user.postcode %></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><%= current_end_user.address %></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><%= current_end_user.phone_number %></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= current_end_user.email %></td>
                </tr>
            </table>
        </div>
            <div class="col-xs-7 col-xs-offset-1">
                <h4 class="col-xs-2">配送先</h4>
                <%= link_to  "一覧を見る", '#', class:'btn btn btn-primary' %>
            </div>
            <div class="col-xs-7 col-xs-offset-1 rireki">
                <h4 class="col-xs-2">注文履歴</h4>
                <%= link_to  "一覧を見る", '#', class:'btn btn btn-primary' %>
            </div>
    </div>
</div>