<div class="container">
    <div class="row">
        <div class='col-xs-7'>
            <h3 class="product-list col-xs-4">商品一覧画面</h3>
            <h3 class='col-xs-1 col-xs-offset-5'><%= link_to "", new_admin_item_path,class:"glyphicon glyphicon-plus" %></h3>
        </div>
        <div class="col-xs-7">
            <table class="table">
                <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名</th>
                        <th>税抜価格</th>
                        <th>ジャンル</th>
                        <th>ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @products.each do |product| %>
                        <tr>
                            <td><%= product.id %></td>
                            <td><%= link_to product.name, admin_item_path(product) %></td>
                            <td><%= product.tax %></td>
                            <td><%= product.category.name %></td>
                            <td><%= product.status %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>