<div class="container">
    <div class="row">
        <h3>商品新規登録画面</h3>
        <%= form_for @product, url: admin_items_path do |f| %>
            <div class='col-xs-4'>
                <%= f.attachment_field :image %>
            </div>
            <div class="col-xs-8">
                <div class="field row">
                    <label>商品名</label>
                    <%= f.text_field :name %>
                </div>
                <div class="field row">
                    <label>商品説明</label>
                    <%= f.text_area :description %>
                </div>
                <div class="field row">
                    <label>ジャンル</label>
                    <%= f.collection_select :category_id, Category.all, :id, :name %>
                </div>
                <div class="field row">
                    <label>税抜価格</label>
                    <%= f.text_field :tax %>円
                </div>
                <div class="field row">
                    <label>販売ステータス</label>
                    <%= f.radio_button :status, '販売中' %>販売中
                    <%= f.radio_button :status, '販売停止中' %>販売停止中
                </div>
            </div>
            <div>
                <%= f.submit '新規登録' %>
            </div>
        <% end %>
    </div>
</div>