<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field row">
          <label for="email", class="col-xs-4">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-8" %>
        </div>

        <div class="field row">
          <label for="password", class="col-xs-4">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class:"col-xs-8" %>
        </div>

        <div class="actions row submit">
          <%= f.submit "Log in", class:"btn btn-info" %>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>