<div class="container">
  <div class="row">
    <h3 class="sign_up col-xs-7 col-xs-offset-2">会員の方はこちらからログイン</h3>
    <div class="col-xs-7 col-xs-offset-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field row">
          <label class="col-xs-3">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-9" %>
        </div>

        <div class="field row">
          <label class="col-xs-3">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class:"col-xs-9" %>
        </div>

        <div class="actions submit row">
          <%= f.submit "Log in", class:"btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-7 col-xs-offset-2 login">
      <h3>登録がお済みでない方</h3>
      <p><%= link_to "こちら", new_end_user_registration_path %>から新規登録を行って下さい。</p>
    </div>
  </div>
</div>