<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake-admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="page-header">
        <div class="container">
            <nav class="nav navbar-nav navbar-left">
                <h1>Logo</h1>
            </nav>
            <nav class="nav navbar-nav navbar-right">
                <% if admin_signed_in? %>
                    <li><a href="#">受注一覧</a></li>
                    <li><a href="#">商品登録</a></li>
                    <li><%= link_to "ログアウト",destroy_admin_session_path, method: :delete %></li>
                <% else %>
                <% end %>
            </nav>
        </div>
    </header>
    <%= yield %>
  </body>
</html>